BODY {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Tahoma, 'Times New Roman'
}
TD {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, Tahoma, 'Times New Roman'
}
.FocusNews {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Arial, 'Times New Roman'
}
.FocusNews A {
	COLOR: #000000; TEXT-DECORATION: none
}
.FocusNews A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.FocusDesc {
	FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Tahoma, 'Times New Roman'
}
.ViewDetail {
	FONT-SIZE: 8pt; COLOR: #838383; FONT-FAMILY: Verdana, Tahoma, 'Times New Roman', Arial
}
.ViewDetail A {
	COLOR: #838383; TEXT-DECORATION: none
}
.ViewDetail A:hover {
	COLOR: #838383; TEXT-DECORATION: underline
}
.RightAd {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffff99; FONT-FAMILY: Tahoma, Verdana, 'Times New Roman', Arial
}
.Title1 {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Tahoma, 'Times New Roman', Arial
}
.Title2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffff99; FONT-FAMILY: Tahoma, Verdana, 'Times New Roman', Arial
}
.Title2 A {
	COLOR: #ffff99; TEXT-DECORATION: none
}
.Title2 A:hover {
	COLOR: #ffff99; TEXT-DECORATION: underline
}
.ContentNewsList {
	FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 17px; FONT-FAMILY: Verdana, Tahoma, Arial, 'Times New Roman'
}
.ContentNewsList A {
	COLOR: #000000; TEXT-DECORATION: none
}
.ContentNewsList A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.UnderConstruction {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #cc0000; FONT-FAMILY: Verdana, Tahoma, 'Times New Roman', Arial
}
.SearchResult {
	FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 17px; FONT-FAMILY: Verdana, Tahoma, Arial, 'Times New Roman'
}
.SearchResult A {
	COLOR: #000000; TEXT-DECORATION: none
}
.SearchResult A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.SitemapCatLevel1 {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Arial, 'Times New Roman'
}
.SitemapCatLevel1 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.SitemapCatLevel1 A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.SitemapCatLevel2 {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Arial, 'Times New Roman'
}
.SitemapCatLevel2 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.SitemapCatLevel2 A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.OtherItem {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Arial, 'Times New Roman'
}
.OtherItem A {
	COLOR: #000000; TEXT-DECORATION: none
}
.OtherItem A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.Uti {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, 'Times New Roman', Arial
}
.Uti A {
	COLOR: #000000; TEXT-DECORATION: none
}
.Uti A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.AttachmentName {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #525252; FONT-FAMILY: Verdana, Tahoma, Arial, 'Times New Roman'
}
.AttachmentName A {
	COLOR: #525252; TEXT-DECORATION: none
}
.AttachmentName A:hover {
	COLOR: #525252; TEXT-DECORATION: underline
}
.AttachmentDesc {
	FONT-SIZE: 8pt; COLOR: #525252; FONT-FAMILY: Verdana, Tahoma, Arial, 'Times New Roman'
}
.AttachmentDesc A {
	COLOR: #525252; TEXT-DECORATION: none
}
.AttachmentDesc A:hover {
	COLOR: #525252; TEXT-DECORATION: underline
}
.Pager {
	FONT-SIZE: 8pt; COLOR: #d5001a; FONT-FAMILY: Verdana, Tahoma, Arial, 'Times New Roman'
}
.Pager A {
	COLOR: #d5001a; TEXT-DECORATION: none
}
.Pager A:hover {
	COLOR: #d5001a; TEXT-DECORATION: underline
}
.ContentDetailName {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Arial, 'Times New Roman'
}
.ContentDetailName A {
	COLOR: #000000; TEXT-DECORATION: none
}
.ContentDetailName A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.ContentDetailDesc {
	FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Tahoma, 'Times New Roman'
}
.ContentDetailDesc A {
	COLOR: #000000; TEXT-DECORATION: none
}
.ContentDetailDesc A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.ContentNewsName {
	FONT-SIZE: 8pt; COLOR: #138037; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Tahoma, Arial, 'Times New Roman'
}
.ContentNewsName A {
	COLOR: #138037; TEXT-DECORATION: underline
}
.ContentNewsName A:hover {
	COLOR: #138037; TEXT-DECORATION: none
}
.ContentHotName {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Arial, 'Times New Roman'
}
.ContentHotName A {
	COLOR: #000000; TEXT-DECORATION: none
}
.ContentHotName A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.ContentHotDesc {
	FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Tahoma, 'Times New Roman'
}
.ContentHotDesc A {
	COLOR: #000000; TEXT-DECORATION: none
}
.ContentHotDesc A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.ContentHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffff99; FONT-FAMILY: Tahoma, Verdana, 'Times New Roman', Arial
}
.ContentHeader A {
	COLOR: #ffff99; TEXT-DECORATION: none
}
.ContentHeader A:hover {
	COLOR: #ffff99; TEXT-DECORATION: underline
}
.ContentHeader1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Tahoma, Arial, 'Times New Roman'
}
.ContentHeader1 A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.ContentHeader1 A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.Date {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Arial, 'Times New Roman'
}
.SearchFormText {
	FONT-SIZE: 8pt; COLOR: #4a4a4a; FONT-FAMILY: Verdana, Tahoma, Arial, 'Times New Roman'
}
.SearchFormText A {
	COLOR: #4a4a4a; TEXT-DECORATION: underline
}
.SearchFormText A:hover {
	COLOR: #4a4a4a; TEXT-DECORATION: underline
}
.FormTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #cc0000; FONT-FAMILY: Verdana, Tahoma, 'Times New Roman', Arial
}
.FormText {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, 'Times New Roman', Arial
}
.FormInput {
	BORDER-RIGHT: #cfcfcf 1px solid; BORDER-TOP: #cfcfcf 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #cfcfcf 1px solid; COLOR: #000000; BORDER-BOTTOM: #cfcfcf 1px solid; FONT-FAMILY: Verdana, Tahoma, Times New Roman, Arial
}
.FormButton {
	BORDER-RIGHT: #cfcfcf 1px solid; BORDER-TOP: #cfcfcf 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #ffffff; BORDER-LEFT: #cfcfcf 1px solid; COLOR: #cc0000; BORDER-BOTTOM: #cfcfcf 1px solid; FONT-FAMILY: Verdana, Tahoma, Times New Roman, Arial
}
.SearchButton {
	BORDER-RIGHT: #bababa 1px solid; BORDER-TOP: #bababa 1px solid; FONT-SIZE: 10px; BACKGROUND: #ffffff; BORDER-LEFT: #bababa 1px solid; COLOR: #bababa; BORDER-BOTTOM: #bababa 1px solid; FONT-FAMILY: Verdana, Tahoma, Times New Roman, Arial
}
.SearchTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Tahoma, Arial, 'Times New Roman'
}
.AdTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Arial, 'Times New Roman'
}
.AdText {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #363636; FONT-FAMILY: Verdana, Tahoma, Arial, 'Times New Roman'
}
.AdText A {
	COLOR: #363636; TEXT-DECORATION: none
}
.AdText A:hover {
	COLOR: #363636; TEXT-DECORATION: underline
}
.AdText1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; TEXT-TRANSFORM: uppercase; COLOR: #1a3880; FONT-FAMILY: Verdana, Tahoma, Arial, 'Times New Roman'
}
.AdText1 A {
	COLOR: #1a3880; TEXT-DECORATION: none
}
.AdText1 A:hover {
	COLOR: #1a3880; TEXT-DECORATION: none
}
.WebsiteLink {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Tahoma, 'Times New Roman'
}
.WebsiteLinkItem {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Tahoma, 'Times New Roman'
}
.HitCounterText {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Tahoma, 'Times New Roman'
}
.HitCounterValue {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Tahoma, 'Times New Roman'
}
.Border {
	BORDER-RIGHT: #b9b7ad 1px solid; BORDER-TOP: #b9b7ad 1px solid; BORDER-LEFT: #b9b7ad 1px solid; BORDER-BOTTOM: #b9b7ad 1px solid
}
.FooterCustomer {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Tahoma, 'Times New Roman'
}
.FooterCustomer A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.FooterCustomer A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.FooterCustomerPrint {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Tahoma, 'Times New Roman'
}
.FooterCustomerPrint A {
	COLOR: #000000; TEXT-DECORATION: none
}
.FooterCustomerPrint A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.FooterDesigner {
	FONT-SIZE: 10px; COLOR: #ff9b31; FONT-FAMILY: Verdana, Arial, Tahoma, 'Times New Roman'
}
.FooterDesigner A {
	COLOR: #ff9b31; TEXT-DECORATION: none
}
.FooterDesigner A:hover {
	COLOR: #ff9b31; TEXT-DECORATION: underline
}
.FooterMenu {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Tahoma, 'Times New Roman'
}
.FooterMenu A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.FooterMenu A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.FooterMenuActive {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Tahoma, 'Times New Roman'
}
.FooterMenuActive A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.FooterMenuActive A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.HeaderMenu {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Tahoma, 'Times New Roman'
}
.HeaderMenu A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.HeaderMenu A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.HeaderMenuActive {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Tahoma, 'Times New Roman'
}
.HeaderMenuActive A {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.HeaderMenuActive A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.LeftMenu1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Tahoma, 'Times New Roman'
}
.LeftMenu1 A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.LeftMenu1 A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.LeftMenu1Active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Tahoma, 'Times New Roman'
}
.LeftMenu1Active A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.LeftMenu1Active A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.LeftMenu2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffff00; FONT-FAMILY: Verdana, Arial, Tahoma, 'Times New Roman'
}
.LeftMenu2 A {
	COLOR: #ffff00; TEXT-DECORATION: none
}
.LeftMenu2 A:hover {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
.LeftMenu2Active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffff00; FONT-FAMILY: Verdana, Arial, Tahoma, 'Times New Roman'
}
.LeftMenu2Active A {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
.LeftMenu2Active A:hover {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
