	/* CSS style xp */
	a:link {
		text-decoration: none;
		font-family: Tahoma, Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-style: normal;
		color: #0000CC;
	}
	a:visited {
		font-family: Tahoma, Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-style: normal;
		color: #0000CC;
		text-decoration: none;
	}
	a:hover {
		font-family: Tahoma, Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-style: normal;
		color: #f60;
		text-decoration: underline;
	}
	a:active {
		font-family: Tahoma, Arial, Helvetica, sans-serif;
		font-size: 11px;
		font-style: normal;
		COLOR: #0000CC;
		TEXT-DECORATION: none;
	}
	/* Data table */
	.tbldata caption{display:none;}		
	table.tbldata{border-collapse:collapse;clear:both; font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF;}
	.tbldata tbody td {border-width: 0 0 1px 0;border-style: solid; padding:2px 0 2px 5px;vertical-align:center;}
	.tbldata thead th{text-align:left;border-width:1px 1px 1px 0;border-style:solid;padding:1px 0 1px 5px; background:url(images/px_w.gif) repeat-y;}
	.tbldata thead th input{margin-bottom:0px;margin-top:-1px;}
	.tbldata td img{text-align:right; font-size:11px;}
	.tbldata th img{float:right;margin:4px 4px 0 0;} 
	.tbldata tr.msgnew{font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:11px;}
	.tbldata thead th{border-top-color:#FFFFFF; border-bottom-color:#5071BC; border-right-color:#5071BC; background-color: #7596E0; height:22px;} 
	.tbldata thead th.sortcol{background-color:#7596E0;}
	.tbldata tbody td{border-bottom-color:#CCCCCC; font-size:11px;}
	.tbldata tr.selected td {
		background-color: #C7D8FA; 
		border-bottom-color: #FFFFFF; 
	}
	/* End Tabs */
	.bg_center
    {
	background-color: #FFFFFF;
	BORDER-TOP: #FFFFFF 1px solid;
	BORDER-LEFT: #FFFFFF 1px solid;
	BORDER-BOTTOM: #FFFFFF 1px solid;
	}
    .bg_title {
	PADDING-LEFT: 10px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	background-color: #F7F7FF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #5071BC;
	}
	.bg_left {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #7596E0;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #5071BC;
	padding-right:1px;
	}
	.mau_lot {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	color: #FFFFFF;
	background-color:#2C982B;
	font-size: 10px;
	}
	.mau_lot a:link{
		text-decoration: none;
		color: #FFFFFF;
		font-size: 10px;
	}
	.mau_lot a:visited{
		color: #FFFFFF;
		text-decoration: none;
		font-size: 10px;
	}
	.mau_lot a:hover{
		color: #f60;
		text-decoration: underline;
		font-size: 10px;
	}
	.mau_lot a:active{
		color: #FFFFFF;
		text-decoration: none;
		font-size: 10px;
	}

	
	.mau_dam {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#FFFFFF;
	text-decoration: none;
	background-color: #5071BC;
	}
	.bg_page{
	 background-color:#C7D8FA;
	}
	.bg_page_border_bottom{
	PADDING-LEFT: 10px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	background-color: #C7D8FA;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9A90CF;
	}
	.tieu_de_xanh
	{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
	font-weight:bold;
	color:#FFFFFF;
	}

  /* Menu left */
.hop {
	   BORDER-RIGHT: #fff 1px solid; 
	   BORDER-TOP: #fff 1px solid; 
	   BORDER-LEFT: #fff 1px solid; 
	   BORDER-BOTTOM: #fff 1px solid;    
	   DISPLAY: block; 
	   PADDING-LEFT: 5px; 
	   PADDING-BOTTOM: 5px;
	   padding-right:5px;
	   padding-top:5px;
	   BACKGROUND-COLOR: #C6D2F0; 
	   TEXT-DECORATION: none;
	   font-family: "Courier New", Courier, monospace;
	   font-size: 11px;
	   color: #999999;
	   line-height:15px;
      }
	.box {
	   BORDER-RIGHT: #fff 0px solid; 
	   BORDER-TOP: #fff 0px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-BOTTOM: 0px; 
	   PADDING-TOP: 0px; 
	   BACKGROUND-COLOR: #C5D2F0;
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #0000CC;
      }
	.box A {
	   BORDER-RIGHT: #fff 1px solid; 
	   BORDER-TOP: #fff 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 1px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 5px; 
	   PADDING-BOTTOM: 2px; 
	   PADDING-TOP: 2px; 
	   BACKGROUND-COLOR: #C5D2F0;
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #0000CC;
      }
	.box A:link {
	   BORDER-RIGHT: #fff 1px solid; 
	   BORDER-TOP: #fff 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 1px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 5px; 
	   PADDING-BOTTOM: 2px; 
	   PADDING-TOP: 2px; 
	   BACKGROUND-COLOR: #C5D2F0;
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #0000CC;
      }
	.box A:active {
	   BORDER-RIGHT: #fff 1px solid; 
	   BORDER-TOP: #fff 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 1px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 5px; 
	   PADDING-BOTTOM: 2px; 
	   PADDING-TOP: 2px; 
	   BACKGROUND-COLOR: #C5D2F0;
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #0000CC;
      }
	.box A:hover 
     {
	   BORDER-RIGHT: #fff 1px solid; 
	   BORDER-TOP: #fff 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 1px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 5px; 
	   PADDING-BOTTOM: 2px; 
	   PADDING-TOP: 2px; 
	   BACKGROUND-COLOR: #ffffff; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #f60;
     }
	.menu {
	   BORDER-RIGHT: #fff 0px solid; 
	   BORDER-TOP: #fff 0px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-BOTTOM: 0px; 
	   PADDING-TOP: 0px; 
	   BACKGROUND-COLOR: #C5D2F0;
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #0000CC;
      }
	.menu A {
	   BORDER-RIGHT: #fff 1px solid; 
	   BORDER-TOP: #fff 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 5px; 
	   PADDING-BOTTOM: 2px; 
	   PADDING-TOP: 2px; 
	   BACKGROUND-COLOR: #C5D2F0;
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #0000CC;
      }
	.menu A:link {
	   BORDER-RIGHT: #fff 1px solid; 
	   BORDER-TOP: #fff 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 5px; 
	   PADDING-BOTTOM: 2px; 
	   PADDING-TOP: 2px; 
	   BACKGROUND-COLOR: #C5D2F0;
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #0000CC;
      }
	.menu A:active {
	   BORDER-RIGHT: #fff 1px solid; 
	   BORDER-TOP: #fff 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 5px; 
	   PADDING-BOTTOM: 2px; 
	   PADDING-TOP: 2px; 
	   BACKGROUND-COLOR: #C5D2F0;
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #0000CC;
      }

	.menu A:hover 
     {
	   BORDER-RIGHT: #fff 1px solid; 
	   BORDER-TOP: #fff 1px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 5px; 
	   PADDING-BOTTOM: 2px; 
	   PADDING-TOP: 2px; 
	   BACKGROUND-COLOR: #ffffff; 
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #f60;
     }

	.menu_ {
	   BORDER-RIGHT: #fff 0px solid; 
	   BORDER-TOP: #fff 0px solid; 
	   BORDER-LEFT: #fff 0px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
  	   PADDING-LEFT: 1px; 
	   PADDING-TOP: 0px; 
	   PADDING-BOTTOM: 0px; 
	   DISPLAY: block; 
	   BACKGROUND-COLOR: #CBCAD9;
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #333333;
      }
	.menu_ A {
	   BORDER-RIGHT: #fff 1px solid; 
	   BORDER-TOP: #fff 1px solid; 
	   BORDER-LEFT: #fff 1px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
  	   PADDING-LEFT: 4px; 
	   PADDING-TOP: 2px; 
	   PADDING-BOTTOM: 2px; 
	   DISPLAY: block; 
	   BACKGROUND-COLOR: #CBCAD9;
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #333333;
      }
	.menu_ A:link {
	   BORDER-RIGHT: #fff 1px solid; 
	   BORDER-TOP: #fff 1px solid; 
	   BORDER-LEFT: #fff 1px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
  	   PADDING-LEFT: 4px; 
	   PADDING-TOP: 2px; 
	   PADDING-BOTTOM: 2px; 
	   DISPLAY: block; 
	   BACKGROUND-COLOR: #CBCAD9;
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #333333;
      }
	.menu_ A:visited {
	   BORDER-RIGHT: #fff 1px solid; 
	   BORDER-TOP: #fff 1px solid; 
	   BORDER-LEFT: #fff 1px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
  	   PADDING-LEFT: 4px; 
	   PADDING-TOP: 2px; 
	   PADDING-BOTTOM: 2px; 
	   DISPLAY: block; 
	   BACKGROUND-COLOR: #CCCCCC;
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   COLOR: #333333;
	   }
	.menu_ A:active {
	   BORDER-RIGHT: #fff 1px solid; 
	   BORDER-TOP: #fff 1px solid; 
	   BORDER-LEFT: #fff 1px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
  	   PADDING-LEFT: 4px; 
	   PADDING-TOP: 2px; 
	   PADDING-BOTTOM: 2px; 
	   DISPLAY: block; 
	   BACKGROUND-COLOR: #CCCCCC;
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   COLOR: #333333;
	  }

	.menu_ A:hover 
     {
	   BORDER-RIGHT: #fff 1px solid; 
	   BORDER-TOP: #fff 1px solid; 
	   BORDER-LEFT: #fff 1px solid; 
	   BORDER-BOTTOM: #fff 0px solid;    
	   PADDING-RIGHT: 0px; 
  	   PADDING-LEFT: 4px; 
	   PADDING-TOP: 2px; 
	   PADDING-BOTTOM: 2px; 
	   DISPLAY: block; 
	   BACKGROUND-COLOR: #ffffff;
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #f60;
    }

	.menu_visit {
	   BORDER-RIGHT: #999999 0px solid; 
	   BORDER-TOP: #FFFFFF 0px solid; 
	   BORDER-LEFT: #FFFFFF 0px solid; 
	   BORDER-BOTTOM: #999999 0px solid;    
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 1px; 
	   PADDING-BOTTOM: 0px; 
	   BACKGROUND-COLOR: #7596E0;
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #FFFFFF;
      }
	.menu_visit A {
		BORDER-RIGHT: #FFFFFF 1px solid; 
		BORDER-TOP: #FFFFFF 1px solid; 
		BORDER-LEFT: #FFFFFF 1px solid;
		BORDER-BOTTOM: #999999 0px solid;
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block;
	   PADDING-LEFT: 4px; 
	   PADDING-BOTTOM: 2px; 
	   PADDING-TOP: 2px; 
	   BACKGROUND-COLOR: #7596E0;
	   TEXT-DECORATION: none;
      }
	.menu_visit A:link {
		BORDER-RIGHT: #FFFFFF 1px solid; 
		BORDER-TOP: #FFFFFF 1px solid; 
		BORDER-LEFT: #FFFFFF 1px solid;
		BORDER-BOTTOM: #999999 0px solid;
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block; 
	   PADDING-LEFT: 4px; 
	   PADDING-BOTTOM: 2px; 
	   PADDING-TOP: 2px; 
	   BACKGROUND-COLOR: #7596E0;
	   TEXT-DECORATION: none;
	   font-family: Tahoma, Arial, Helvetica, sans-serif;
	   font-size: 11px;
	   color: #0000CC;
      }
	.menu_visit A:visited {
		BORDER-RIGHT: #FFFFFF 1px solid; 
		BORDER-TOP: #FFFFFF 1px solid; 
		BORDER-LEFT: #FFFFFF 1px solid;
		BORDER-BOTTOM: #999999 0px solid;
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block;
	   PADDING-LEFT: 4px; 
	   PADDING-BOTTOM: 2px; 
	   PADDING-TOP: 2px; 
	   BACKGROUND-COLOR: #7596E0;
	   TEXT-DECORATION: none;
	   }
	.menu_visit A:active {
		BORDER-RIGHT: #FFFFFF 1px solid; 
		BORDER-TOP: #FFFFFF 1px solid; 
		BORDER-LEFT: #FFFFFF 1px solid;
		BORDER-BOTTOM: #999999 0px solid;
		
	   PADDING-RIGHT: 0px; 
	   DISPLAY: block;
	   PADDING-LEFT: 4px; 
	   PADDING-BOTTOM: 2px; 
	   PADDING-TOP: 2px; 
	   BACKGROUND-COLOR: #7596E0;
	   TEXT-DECORATION: none;
	  }
	.menu_visit A:hover 
     {
	  BORDER-RIGHT: #FFFFFF 1px solid; 
	  BORDER-TOP: #FFFFFF 1px solid; 
	  BORDER-LEFT: #FFFFFF 1px solid;
	  BORDER-BOTTOM: #999999 0px solid;
	  font-family: Tahoma, Arial, Helvetica, sans-serif;
	  font-size: 11px;
	  color: #f60;
 	  BACKGROUND-COLOR: #C7D8FA; 
	  TEXT-DECORATION: none;
	  PADDING-BOTTOM: 2px;
	  PADDING-TOP: 2px;
     }
	 
	 