/* Rounded corners */
.bg_1{
         background-color:#F0F0E6;
       }	
.b1{
         background-color:#FFFFFF;
       }	
.b2{
         background-color:#FFFBFF;
       }
	   
.bg3{
	background-color: #E8E6D9;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	FONT-WEIGHT: bold;
	font-size: 11px;
	color: #666666;
}
.do {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	text-decoration: none;
}
.xanh {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0000FF;
	text-decoration: none;
}
.tab_10_form {
	PADDING-LEFT: 10px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#FFFFFF;
	text-decoration: none;
}
.tab_10_form a:link{
	text-decoration: none;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #FFFFFF;
}
.tab_10_form a:visited{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.tab_10_form a:hover{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #9BBEF4;
	text-decoration: underline;
}
.tab_10_form a:active{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #FFFFFF;
	text-decoration: none;
}

.text_def{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height:18px;
	color: #000000;
	text-decoration: none;
}
.text_def_{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.lot {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
}
.lot a:link{
	text-decoration: none;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #0000CC;
}
.lot a:visited{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #0000CC;
	text-decoration: none;
}
.lot a:hover{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #f60;
	text-decoration: underline;
}
.lot a:active{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #0000CC;
	text-decoration: none;
}

.text {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.dot_do {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	text-decoration: none;
}
.dot_xanh {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0000FF;
	text-decoration: none;
}
.tieude {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	color: #000000;
	font-weight: bold;
}
BODY {
	MARGIN-TOP: 0px; FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
}
TD {
	MARGIN-TOP: 0px; FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
}

.S {
	FONT-SIZE: 10px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
}
.S2 {
    PADDING-LEFT: 5px;
	FONT-SIZE: 10px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
}
.S9 {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
	padding-left:5px;
	padding-right:2px;
}
.top_bot_5 {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
	padding-top:0px;
	padding-bottom:5px;
	line-height:20px;
}

.S10 {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
}
.S8 {
   
	FONT-SIZE: 9px; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
}


.M13 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #fff; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
}
.ST {
	FONT: bold 11px Tahoma, Arial, Helvetica, sans-serif;
}

.M {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}

.tab_left_10 {
	PADDING-LEFT: 10px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.tab_10_lh_15 {
	PADDING-LEFT: 10px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	line-height:15px;
}
.tab_left_10_b {
	PADDING-LEFT: 10px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 16px;
	FONT-WEIGHT: bold;
	text-decoration: none;
}

.tab_left_5 {
	PADDING-LEFT: 5px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.mau_editer {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	background-color:#9BBEF4;
}
.mau_xp {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#FFFFFF;
	text-decoration: none;
	background-color:#3B9535;
}
.mau_xp_ {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	background-color: #4A6DBD;
}

.tab_lr_5 {
	PADDING-LEFT: 5px;
	padding-right:5px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}

.tab_5555 {
	PADDING-LEFT: 5px;
	padding-right:5px;
	padding-top: 5px;
	padding-bottom: 5px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}

.thongbao {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	font-weight:bold;
	text-decoration: none;
}

.input
{
	FONT:11px Tahoma, Arial, Helvetica, sans-serif; 
	BORDER-RIGHT: #757c7f 1px solid; 
	BORDER-TOP: #757c7f 1px solid; 
	FONT-SIZE: 11px; 
	BORDER-LEFT: #ff6600 1px solid; 
	color: #000000; 
	BORDER-BOTTOM: #757c7f 1px solid; 
	FONT-STYLE: normal; 
	BACKGROUND-COLOR: #FFFFFF; 
}
.textarea
{
	FONT:11px Tahoma, Arial, Helvetica, sans-serif; 
	BORDER-RIGHT: #757c7f 1px solid; 
	BORDER-TOP: #757c7f 1px solid; 
	FONT-SIZE: 11px; 
	BORDER-LEFT: #ff6600 1px solid; 
	color: #000000; 
	BORDER-BOTTOM: #757c7f 1px solid; 
	FONT-STYLE: normal; 
	BACKGROUND-COLOR: #FFFFFF; 
	WIDTH: 200px;
	height:100px;
}
.selected
{
	FONT:11px Tahoma, Arial, Helvetica, sans-serif; 
	BORDER-RIGHT: #757c7f 1px solid; 
	BORDER-TOP: #757c7f 1px solid; 
	FONT-SIZE: 11px; 
	BORDER-LEFT: #ff6600 1px solid; 
	color: #000000; 
	BORDER-BOTTOM: #757c7f 1px solid; 
	FONT-STYLE: normal; 
	BACKGROUND-COLOR: #FFFFFF; 
}

.nut{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	height:20px;
	BORDER-RIGHT: 1px solid #C8C9C5; 
	BORDER-TOP: 1px solid #C8C9C5; 
	BORDER-LEFT: 5px solid #C8C9C5; 
	BORDER-BOTTOM: 1px solid #C8C9C5;
}

.tab_5
{
padding-left:5px;
}
.nut_nhan {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	background-color:#FFFBFF;
}
.nut_nhan_2{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	BORDER-RIGHT: 1px solid #000000; 
	BORDER-TOP: 1px solid #999999; 
	BORDER-LEFT: 1px solid #999999; 
	BORDER-BOTTOM: 1px solid #000000;
}

.nut_nhan_do {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#FFFFFF;
	text-decoration: none;
	background-color: #FF0000;
}

.line_bottom {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E5E5E5;
	}
.mainlink {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f79408;
	font-weight: bold;
}
.mainlink A:link {
	MARGIN-TOP: 3px; FONT-SIZE: 11px; MARGIN-BOTTOM: 3px; COLOR: #ffffff; LINE-HEIGHT: 2em; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none;
	font-weight: bold;
}
.mainlink A:visited {
	MARGIN-TOP: 3px; FONT-SIZE: 11px; MARGIN-BOTTOM: 3px; COLOR: #ffffff; LINE-HEIGHT: 2em; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none;
	font-weight: bold;
}
.mainlink A:hover {
	MARGIN-TOP: 3px; FONT-SIZE: 11px; MARGIN-BOTTOM: 3px; COLOR: #000000; LINE-HEIGHT: 2em; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fcfcfc; TEXT-ALIGN: center; TEXT-DECORATION: none;
	font-weight: bold;
}
.mainlink A:active {
	MARGIN-TOP: 3px; FONT-SIZE: 11px; MARGIN-BOTTOM: 3px; COLOR: #000000; LINE-HEIGHT: 2em; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none;
	font-weight: bold;
}

.mainlink_visit {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #FF0000;
	font-weight: bold;
}
.mainlink_visit A:link {
	MARGIN-TOP: 3px; FONT-SIZE: 11px; MARGIN-BOTTOM: 3px; COLOR: #ffffff; LINE-HEIGHT: 2em; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none;
	font-weight: bold;
}
.mainlink_visit A:visited {
	MARGIN-TOP: 3px; FONT-SIZE: 11px; MARGIN-BOTTOM: 3px; COLOR: #ffffff; LINE-HEIGHT: 2em; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none;
	font-weight: bold;
}
.mainlink_visit A:hover {
	MARGIN-TOP: 3px; FONT-SIZE: 11px; MARGIN-BOTTOM: 3px; COLOR: #000000; LINE-HEIGHT: 2em; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fcfcfc; TEXT-ALIGN: center; TEXT-DECORATION: none;
	font-weight: bold;
}
.mainlink_visit A:active {
	MARGIN-TOP: 3px; FONT-SIZE: 11px; MARGIN-BOTTOM: 3px; COLOR: #000000; LINE-HEIGHT: 2em; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none;
	font-weight: bold;
}

.bg_mo
	{
	background-color:#F7F7FF;
	}
.bg_dam
	{
	background-color: #1C1E91;
	}
.bg_1 {
	background-color: #E0E0E0;
	}
.bg_2 
    {
	background-color: #FFFFFF;
	BORDER-LEFT: #FFFFFF 1px solid;
	}
	
.tab_10_bg_1 {
	PADDING-LEFT: 10px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	border-top-color:#CCE6E6;
	background-color: #E0E0E0;
	}

.text_off {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
}
.text_off a:link{
	text-decoration: none;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #666666;
}
.text_off a:visited{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #666666;
	text-decoration: none;
}
.text_off a:hover{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #f60;
	text-decoration: underline;
}
.text_off a:active{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #666666;
	text-decoration: none;
}